<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>45877382393-iil3pb65125kg532vmprjoe530mknn5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.45877382393-iil3pb65125kg532vmprjoe530mknn5m</string>
	<key>API_KEY</key>
	<string>AIzaSyB3-L4wRoOA7Pqvo-ZxvqQkzw2V2EqdAHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>45877382393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blacenova.FoodZap</string>
	<key>PROJECT_ID</key>
	<string>foodzap-aef48</string>
	<key>STORAGE_BUCKET</key>
	<string>foodzap-aef48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45877382393:ios:9ce89759bf0595c578e628</string>
</dict>
</plist>